<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="this :: title">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <style>

    </style>
</head>
<body>
    <header th:fragment="header" >
        <div class="d-flex bg-white">
            <div class="p-2 mr-auto ml-3">
                <a class="p-2 mr-2" th:href="@{/}">
                    <img class="mt-1" src="/resources/static/img/logo.png" alt="로고" style="height: 30px;">
                </a>
            </div>
            <div class="p-2 ">
                <form class="form-inline" action="/action_page.php">
                    <div class="mt-1" style="border:2px solid; border-radius: 15px;">
                        <img class="ml-1 mb-1" src="/resources/static/img/magnifier.png" alt="돋보기" style="height: 20px;">
                        <input type="text"style="border:none; outline: none; background: transparent;" placeholder="Search">
                    </div>
                </form>
            </div>
            <a class="p-2 mr-2" th:href="@{/}">
                <img class="mt-1" src="/resources/static/img/bell.png" alt="알림" style="height: 20px;">
            </a>
            <a class="p-2 mr-2" th:href="@{/}">
                <img class="mt-1" src="/resources/static/img/cart.png" alt="카트" style="height: 20px;">
            </a>
            <!-- <th:block sec:authorize="isAnonymous()"> -->
                <a class="p-2 mr-2 mt-2" th:href="@{/signup}" style="text-decoration: none; color: black;">
                    회원가입
                </a>
                <a class="p-2 mr-2 mt-2" th:href="@{/login}" style="text-decoration: none; color: black;">
                    로그인
                </a>
            <!-- </th:block> -->
            <!-- <th:block sec:authorize="isAuthenticated()"> 아직은 먼일 -->
                <a class="p-2 mr-2" th:href="@{/}">
                    <img class="mt-1" src="/resources/static/img/library.png" alt="내 서재" style="height: 20px;">
                </a>
                <a class="p-2 mr-2" th:href="@{/}">
                    <img class="mt-1" src="/resources/static/img/user_profile.png" alt="프로필" style="height: 20px;">
                </a>
            <!-- </th:block> -->
        </div>

        <div>
            <div class="d-flex justify-content-between bg-white mb-3">
                <div class="d-flex">
                    <a class="p-2 ml-3" th:href="@{/}" style="text-decoration: none; color: black;">로맨스</a>
                    <a class="p-2 ml-3" th:href="@{/}" style="text-decoration: none; color: black;">로판</a>
                    <a class="p-2 ml-3" th:href="@{/}" style="text-decoration: none; color: black;">판타지</a>
                    <a class="p-2 ml-3" th:href="@{/}" style="text-decoration: none; color: black;">무협</a>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="p-2 mr-3"><img class="mb-1" src="/resources/static/img/menu.png" alt="전체 카테고리" style="height: 15px;"> 전체 카테고리</div>
                    <div class="p-2 mr-3">포인트 충전</div>
                </div>
            </div>
        </div>
        <hr class="my-hr3">
    </header>
</body>
</html>
