<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.kihibooks.dao.AttendanceDAO">
	<!-- 1. 오늘 출석했는지 확인 -->
	<select id="hasCheckedToday" resultType="boolean">
			SELECT COUNT(*) > 0
			FROM ATTENDANCE A
			JOIN USER U ON A.AT_UR_NUM = U.UR_NUM
			WHERE U.UR_EMAIL = #{userId}
				AND A.AT_DATE = CURDATE()
	</select>

	<!-- 2. 보상 리스트 전부 조회 -->
	<select id="selectRewardList" resultType="kr.kh.kihibooks.model.vo.AttendanceRewardVO">
			SELECT *
			FROM ATTENDANCE_REWARD
	</select>

	<!-- 3. 출석 기록 저장 -->
	<insert id="insertAttendance">
			INSERT INTO ATTENDANCE (
					AT_DATE, AT_POINT, AT_UR_NUM, AR_ID
			)
			VALUES (
					CURDATE(),
					#{reward.ar_point},
					(SELECT UR_NUM FROM USER WHERE UR_EMAIL = #{userId}),
					#{reward.ar_id}
			)
	</insert>
</mapper>