<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kh.kihibooks.dao.EventDAO">

  <!-- 진행중 이벤트 -->
  <select id="selectOngoingEvents" resultType="kr.kh.kihibooks.model.vo.EventVO">
    SELECT * 
    FROM event
    WHERE NOW() BETWEEN ev_start_date AND ev_end_date
    ORDER BY ev_start_date DESC
  </select>

  <!-- 지난 이벤트 -->
  <select id="selectPastEvents" resultType="kr.kh.kihibooks.model.vo.EventVO">
    SELECT * 
    FROM event
    WHERE ev_end_date &lt; NOW()
    ORDER BY ev_end_date DESC
  </select>

</mapper>
