<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kh.kihibooks.dao.GenreDAO">

  <select id="selectRandomKeywords" resultType="KeywordVO">
    SELECT *
    FROM keyword
    ORDER BY RAND()
    LIMIT #{limit}
</select>

</mapper>
