<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.kihibooks.dao.KeywordDAO">
	<resultMap id="KeywordCategoryMap" type="KeywordCategoryVO">
    <id property="kc_code" column="KC_CODE"/>
    <result property="kc_name" column="KC_NAME"/>
    <collection property="keywordList" ofType="KeywordVO">
        <id property="kw_code" column="KW_CODE"/>
        <result property="kw_name" column="KW_NAME"/>
    </collection>
	</resultMap>

	<select id="selectKeywordCategories" resultMap="KeywordCategoryMap">
		SELECT 
				kc.KC_CODE, kc.KC_NAME,
				kw.KW_CODE, kw.KW_NAME
		FROM 
				keyword_category kc
		LEFT JOIN 
				Keyword kw ON kc.KC_CODE = kw.KW_KC_CODE
		ORDER BY 
				kc.KC_CODE, kw.KW_CODE
	</select>

</mapper>