<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.kihibooks.dao.KeywordDAO">
	<resultMap id="KeywordCategoryMap" type="KeywordCategoryVO">
    <id property="kc_code" column="KC_CODE"/>
    <result property="kc_name" column="KC_NAME"/>
    <collection property="keywordList" ofType="KeywordVO">
        <id property="kw_code" column="KW_CODE"/>
        <result property="kw_name" column="KW_NAME"/>
    </collection>
	</resultMap>

	<select id="selectKeywordCategories" resultMap="KeywordCategoryMap">
		SELECT 
				kc.KC_CODE, kc.KC_NAME,
				kw.KW_CODE, kw.KW_NAME
		FROM 
				keyword_category kc
		LEFT JOIN 
				Keyword kw ON kc.KC_CODE = kw.KW_KC_CODE
		ORDER BY 
				kc.KC_CODE, kw.KW_CODE
	</select>
	<select id="selectBooksKeywordList" resultMap="KeywordCategoryMap">
		select * from book_keyword
		JOIN keyword ON bk_kw_code = kw_code
		JOIN keyword_category ON kw_kc_code = kc_code
		where bk_bo_code = #{bo_code}
		order by bk_kw_code
	</select>
	<delete id="deleteKeywordFromBook">
		delete from book_keyword
		where bk_bo_code = #{bk_bo_code}
	</delete>
	<select id="selectKeywordsByIds" resultType="KeywordVO">
		SELECT
			kw_code, kw_name
		FROM 
			keyword
		WHERE 
			kw_code IN
		<foreach collection="keywordIds" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
	<!-- 장르별 메인페이지에 랜덤으로 15개 키워드를 뿌려주는 매퍼 -->
	<select id="getRandomKeywordsByGenre" resultType="KeywordVO">
		SELECT DISTINCT
					k.KW_CODE AS kw_code,
					k.KW_NAME AS kw_name
		FROM keyword k
				JOIN book_keyword bk ON k.KW_CODE = bk.BK_KW_CODE
				JOIN book b          ON bk.BK_BO_CODE = b.BO_CODE
				JOIN sub_cate sc     ON b.BO_SC_CODE = sc.SC_CODE
		WHERE sc.SC_MC_CODE = #{genreCode}
		ORDER BY RAND()
		LIMIT 25
	</select>

</mapper>