<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.kihibooks.dao.PublisherDAO">
    <select id="selectPublisher" resultType="PublisherVO">
        select * from publisher where pu_name = #{pu_name}
    </select>
    <insert id="insertPublisher">
        insert into publisher(pu_name, pu_code)
        values(#{pu_name}, #{pu_code})
    </insert>
    <select id="selectAllPublishers" resultType="PublisherVO">
        SELECT p.PU_CODE, p.PU_NAME, u.UR_EMAIL FROM publisher p
        JOIN publisher_id pi ON p.PU_CODE = pi.PI_PU_CODE
        JOIN user u ON pi.PI_UR_NUM = u.UR_NUM
        where pi.pi_authority = 'SUPER'
        ORDER BY p.PU_CODE ASC;
    </select>
    <select id="selectPublisherId" resultType="PublisherIdVO">
        select * from publisher_id where pi_ur_num = #{pi_ur_num} and pi_pu_code = #{pi_pu_code}
    </select>
    <insert id="insertPublisherId">
        insert into publisher_id(pi_ur_num, pi_pu_code, pi_authority) values(#{pi_ur_num}, #{pi_pu_code}, #{pi_authority})
    </insert>
    <select id="selectPublisherIdByNum" resultType="PublisherIdVO">
        select pi_pu_code FROM publisher_id WHERE pi_ur_num = #{ur_num}
    </select>
    <insert id="insertEditor">
        insert into publisher_id (pi_authority, pi_pu_code, pi_ur_num)
        values("EDITOR", #{puCode}, #{userNum})
    </insert>
    <select id="getLatestPuCode" resultType="String">
        select max(pi_pu_code) from publisher_id
    </select>
    <!-- <select id="selectEditorList" resultType="EditorVO">
        SELECT u.UR_NICKNAME AS ur_nickname, u.UR_EMAIL AS ur_email, u.UR_NUM AS ur_num, p.PU_NAME AS pu_name, pi.PI_PU_CODE AS pu_code
        FROM publisher_id pi
        JOIN user u ON pi.PI_UR_NUM = u.UR_NUM
        JOIN publisher p ON pi.PI_PU_CODE = p.PU_CODE
        WHERE pi.PI_PU_CODE = #{puCode} and pi.PI_AUTHORITY = 'EDITOR'
        ORDER BY ur_nickname ASC;
    </select> -->
    <delete id="deleteEditorByUserNum">
        DELETE FROM publisher_id WHERE pi_ur_num = #{userNum}
    </delete>
    <select id="selectEditorList" resultType="EditorVO">
        SELECT u.UR_NICKNAME AS ur_nickname,
            u.UR_EMAIL AS ur_email,
            u.UR_NUM AS ur_num,
            p.PU_NAME AS pu_name,
            pi.PI_PU_CODE AS pu_code
        FROM publisher_id pi
        JOIN user u ON pi.PI_UR_NUM = u.UR_NUM
        JOIN publisher p ON pi.PI_PU_CODE = p.PU_CODE
        WHERE pi.PI_PU_CODE = #{puCode}
        AND pi.PI_AUTHORITY = 'EDITOR'
        ORDER BY ur_nickname ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="selectEditorCount" resultType="int">
        SELECT COUNT(*)
        FROM publisher_id
        WHERE PI_PU_CODE = #{puCode}
        AND PI_AUTHORITY = 'EDITOR'
    </select>
</mapper>