<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="navButtons">
      <div class="nav-buttons" style="display: flex; justify-content: space-between; gap: 10px; padding: 16px 0;">
        <a href="/book/new" class="btn btn-outline-secondary">신작</a>
        <a href="/book/best" class="btn btn-outline-secondary">베스트</a>
        <a href="/book/waitfree" class="btn btn-outline-secondary">기다무</a>
        <a href="/book/keyword" class="btn btn-outline-secondary">키워드</a>
        <a href="/attendance" class="btn btn-outline-secondary">출석체크</a>
      </div>
    </div>
  </body>
</html>
