<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="rankingSection">
      <div class="swiper-container realtime-swiper" id="realtimeSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide book-card" th:each="book : ${realtimeBooks}">
            <a th:href="@{/books/{id}(id=${book.bo_code})}" class="thumb-wrapper">
              <img th:src="@{/resources/static/img/default_thumb.png}" alt="썸네일">
            </a>
            <p class="book-title">
              <a th:href="@{/books/{id}(id=${book.bo_code})}" th:text="${book.bo_title}">책 제목</a>
            </p>
            <p class="book-author">
              <a th:href="@{/author/{id}(id=${book.bo_au_num})}" th:text="${book.bo_author}">작가명</a>
            </p>
            <p class="book-meta">
              <span class="highlight-rating"
                    th:text="'★ ' + (${book.bo_review_count} > 0 ? ${#numbers.formatDecimal((book.bo_total_rating / book.bo_review_count) / 2, 1, 1)} : '0.0')">평점</span>
              <span>|</span>
              <span th:text="'(' + ${book.bo_review_count} + ')'">리뷰 수</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
