<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">

<head>
	<meta charset="UTF-8">
	<title>KiHiBooks</title>
	<style>
	main {
		margin-top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;	
	}
	

	</style>
</head>

<body>
	<!-- 이메일, 이메일 인증, 비밀번호, 비번확인, 출생년도, 남/녀, 닉네임  -->
	<main layout:fragment="content" class="container">
		<h3 style="text-align: center;">KiHiBooks email</h3>
		<form action="/action_page.php">
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Enter email" id="email">
			</div>
			<button type="button" class="btn btn-primary mb-3" id="sendVerificationCode">이메일 인증</button> <!-- 버튼에 id 추가 -->
			
			<!-- 인증번호 입력 필드 및 확인 버튼 추가 -->
			<div class="form-group">
				<input type="text" class="form-control" placeholder="인증번호 입력" id="verificationCode" disabled> <!-- 초기에는 비활성화 -->
			</div>
			<button type="button" class="btn btn-secondary mb-3" id="checkVerificationCode" disabled>인증번호 확인</button> <!-- 초기에는 비활성화 -->
			
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Enter password" id="pwd">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Check password" id="pwd2">
			</div>
			<button type="submit" class="btn btn-primary col-12">가입</button>
		</form>
		<script>
			$("#sendVerificationCode").click(function(){
				const email = $("#email").val().trim();
				$("#email").val(email);

				if (!email) { // 이메일이 비어 있는지 확인
					alert("이메일 주소를 입력해주세요.");
					return;
				}
				alert(email);
				$("#sendVerificationCode").prop("disabled", true); // 버튼 비활성화

				$.ajax({
					url: "/email/sendVerificationCode",
					method: "POST",
					data: email,
					contentType: "text/plain",
					success: function(response) {
						if(response){
							alert("인증번호가 이메일로 발송되었습니다. 1분 내에 확인 후 입력해주세요.");
							$("#verificationCode").prop("disabled", false);
							$("#checkVerificationCode").prop("disabled", false);
							
						}else{
							alert("이메일 발송에 실패했습니다. 다시 시도해주세요.");
						}
					},
					error: function(){
						$("#verificationCode").prop("disabled", false);
					},
					complete: function(){
					}
				})
				return;
			})
		</script>
	</main>
</body>

</html>
