<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>KiHiBooks</title>
<link rel="stylesheet" href="/resources/static/css/signup.css">
</head>
<body >
	<main layout:fragment="content" class="container">
		<img src="/resources/static/img/logo.png" alt="로고" style="width: 360px; margin-top: 60px;">
        <div class="btns">
			<!-- 이메일 버튼 -->
			<a th:href="@{/signup/email}">
				<div class="btn-join btn-email">
					<img src="/resources/static/img/email.png" class="btn-icon" alt="카카오 아이콘">
					<span class="btn-text">이메일 계정으로 가입하기</span>
				</div>
			</a>

			<!-- 카카오 버튼 -->
			<a th:href="@{'https://kauth.kakao.com/oauth/authorize'(client_id=${kakaoClientId},redirect_uri=${kakaoRedirectUri},response_type='code')}" style="margin-bottom: 100px;">
				<div class="btn-join btn-kakao">
					<img src="/resources/static/img/kakao.png" class="btn-icon" alt="카카오 아이콘">
					<span class="btn-text">카카오 계정으로 가입하기</span>
				</div>
				<!-- <img src="/resources/static/img/kakaoLogin.png" style="width: 50%;" alt="카카오 아이콘"> -->
			</a>
	
			<!-- 네이버 버튼 -->
			<!-- <a th:href="@{/}">
				<div class="btn-join btn-naver">
					<img src="/resources/static/img/naver.png" class="btn-icon" alt="카카오 아이콘">
					<span class="btn-text">네이버 계정으로 가입하기</span>
				</div>
			</a> -->
			
		</div>
	</main>
</body>
</html>